# Defaults in mushroom/config.py

# listen_address = "localhost"
# listen_port = 1337

# motd_file = "MOTD"
# db_file = "world.sav"

# op_password = "lol"
# op_command_prefix = "@"

### whether to send exceptions to the player
# debug = True

# log_file = "server.log"

# autosave_period = 300
